#content{
    padding: 10px;
    &.page-content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
h1{
    margin-bottom: .8em;
}
.home-first{
    height: 100vh;
    background-image: url('../images/hp_background.jpg');
    background-size: cover;
    background-position: center;
    .home-title{
        text-indent: -4000px;
        margin-top: 11vh;
        text-align: center;
        height: 38vh;
        background-image: url('../logo.svg');
        background-repeat: no-repeat;
        background-position: top center;
    }
}
.transition{
    height: 20vh;
    background-image: url('../images/hp_background.jpg');
    background-size: cover;
    background-position: center center;
}
.main-intro{
    padding: 10px;
    margin-bottom: 1em;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#home-zone{
    color: $white;
    font-family: $header-font-family;
    font-size: 1.1em;

    .place, .date{
        display: inline-block;
        background: rgba($black, .7);
        padding: 3px 15px 3px 15px;
        margin: 5px;
        transform: rotate(-5deg);
    }
}
.section-header{
    display: inline-block;
    background: $primary-color;
    color: $white;
    line-height: 1em;
    padding: 5px 10px 3px 10px;
    margin: 0 0 0.8em 10px;
    transform: rotate(-5deg);
}

.section{
    padding: 55px 0 2em 0; 
}

.zone3{
    background-color: $primary-color;
    color: $white;
}
.block-wineteaser{
    padding: 0 10px 2em 10px;
    h2{
        display: inline-block;
        background: $white;
        color: $primary-color;
        line-height: 1em;
        padding: 5px 10px 3px 10px;
        margin: 1em 0 1.2em 10px;
        transform: rotate(-5deg);
    }
    .button{
        margin-top: 1em;
        color: $primary-color;
        background: $white;
    }
}
/* Presales */

.primary{
    color: $primary-color;
}
.em-small{
    font-family: $header-font-family;
}
.em-big{
    font-family: $header-font-family;
    font-size: 1.5em;
    line-height: 1.3em;
}


@include breakpoint(medium up){
    #content{
        &.page-content{
            padding-top: 100px;
        }
    }
    #home-zone{
        font-size: 1.5em;
    }
    .section{
        padding: 3.5em 0 2em 0; 
    }
    .em-big{
        font-size: 2em;
        line-height: 1.4em;
    }
    
}

@include breakpoint(large up){
    #home-zone{
        font-size: 2em;
    }
}