    <div class="columns medium-2 hide-for-small-only image">{{ fields.field_image.content }}&nbsp;</div>
    <div class="columns small-10">
    <h4>{{ fields.title.content}}</h4>
    <p class="teaser">{{ fields.body.content }}</p>
    </div>